<%- partial('partial/head') %>
<body>
  <div class="wrapper">
      <%- partial('partial/header/header') %>

      <%- body %>

      <%- partial('partial/footer') %>
  </div>
</body>
<%- js('js/script') %>
<%- js('js/scroll-out.min') %>
<script>
  ScrollOut({
    threshold: 0.5
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>