<%- partial('partial/head') %>
<body id="home">
  <section class="page-loader" id="page-loader">
    <%- partial('partial/sections/loader') %>
  </section>
  <div class="wrapper hide" id="wrapper">
      <%- partial('partial/header/header') %>
      
      <%if(body == 'index'){%>
        
      <%}%>

      <%- body %>
   
      <div class="desktop-only">
        <%- partial('partial/floating-btn') %>
      </div>

      <%- partial('partial/footer') %>
  </div>
</body>
<%- js('js/scroll-out.min') %>
<script>
  ScrollOut({
    threshold: 0.5
  });
</script>
</html>