<%- partial('partial/head') %>
<body id="home">
  <div class="wrapper">
      <%- partial('partial/header/header') %>

      <%- body %>

      <div class="desktop-only">
        <%- partial('partial/floating-btn') %>
      </div>

      <%- partial('partial/footer') %>
  </div>
</body>
<%- js('js/script') %>
<%- js('js/scroll-out.min') %>
<%- js('js/mailer') %>
<script>
  ScrollOut({
    threshold: 0.5
  });
</script>
</html>