<div class="medium-hero medium-hero__<%= type %>">
  <div class="hero-text-wrapper ">
<<<<<<< HEAD
    <div class="hero-text">
        <h1 class="hero-text__content"> <%= mainContent %> </h1>
=======
    <%if(subContent == "") {%>
      <div class="hero-text m-t-50">
        <h4> <%= subContent %> </h4>
        <h1> <%= mainContent %> </h1>
>>>>>>> get-support
    </div>
    <%}else{%>
      <div class="hero-text">
        <h4> <%= subContent %> </h4>
        <h1> <%= mainContent %> </h1>
    </div>
    <%}%>
  </div>
</div>
